@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url('./images/willian-justen-de-vasconcellos-1vkxNZxsDp0-unsplash.jpg');
    width: 35vw;
    background-size: cover;
    color: white;
}

.iconContainer {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.icon{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.541);
    height: 138px;
    font-family: Norse-Bold, sans-serif;
    font-size: 44px;
}

.iconImage{
    height: 100px;
}

.footer{
    height: 60vh;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: large;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.firstSection {
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;

}

.secondSection {
    background-color: white;
    height: 33vh;
    box-shadow: 5px 5px 8px #cfcfcf;
}

.formMainDiv {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;
    text-transform: uppercase;
}

.formDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    border: 1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}

input:focus {
    border: solid rgb(60, 144, 255)
}

input:invalid {
    border: 1px solid red
}

label {
    font-size: 10px;
    color: #686868;
}

#error {
    color: red;
    font-size: 10px;
    margin: 1px;
}

.btn {
    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 10px;
    height: 40px;
    width: 175px;
    font-weight: bolder;
    font-size: small;
    box-shadow: 5px 5px 8px #cfcfcf;
    cursor: pointer;
}

.thirdSection {
    margin-left: 50px;
    margin-top: 25px;
}

.hyperlink {
    margin-left: 50px;
    margin-top: 25px;
    font-size: 15px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}